.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


/***************************NAV BAR****************************/
/*.nav {
  margin: 0 auto;
  width: 100%;
  height: 75px;
  background-color: rgba(255,255,255, .5);
}*/
nav {
  padding-top: 20px;
  float: right;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav ul {
  list-style: none;
}
nav ul li {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li:hover {
  text-shadow:5px 5px 10px white;
}

/* home.jsx file */
#home p {
  animation: app-name-change infinite 10s linear;
  font-family: Bangers;
  font-size: 40px;
}

.homeMeme {
  height: 350px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 30px;
  text-align: center;
  font-family: Georgia;
  font-size: 15px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

#submit {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-family: Georgia;
  cursor: pointer;
}

/* quizzes */
#quiz h3 {
  font-family: Bangers;
  font-size: 22px;
}

#answer {
  padding: 8px 18px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 15px;
  font-family: Georgia;
  cursor: pointer;
  background-color: white;
}

/* users */
.quotelist {
display: flex;
justify-content: space-around;
margin-top: 10%
}

#user {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid black;
  height: 250px;
  width: 200px;
}

#userContent {
  font-family: Georgia;
}

.avatarImg {
  height: 120px;
}

/* about page */
#about {
  font-family: Bangers;
  font-size: 25px;
}

.aboutImage {
  height: 315px;
}

@keyframes app-name-change {
  from {color: yellow;}
  to {color: green;}
}
/*************************** FOOTER ****************************/

.App-footer {
  /*margin-top: 350px;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;*/
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #222;
  color: white;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
